# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Sensitive Configs (DO NOT COMMIT API KEYS)
.env

# Local Databases and uploaded files
data/
temp_dbs/

# IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
